.body {
    align-items: center;
    background-color: hsl(0, 100%, 74%);
    color: hsl(0, 100%, 100%);
    display: flex;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    justify-content: center;
    line-height: 1.3;
}

.container_main {
    width: 85%;
}

    /*  CABEÇALHO */

.title_header {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

    /* OFFER */
.offer {
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1.5rem;
    text-align: center;
}

.offer_accent {
    font-weight: 600;
}

    /* FORMULÁRIO */
.form {
    background-color: hsl(0, 100%, 100%);
    border-radius: 10px;
    padding: 1rem;
}

.fieldset_form {
    display: flex;
    flex-flow: wrap column;
    gap: .5rem;
}

.fieldset_form > input {
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 10px;
    padding: 1.3rem 1rem;
}

.fieldset_form > input::placeholder {
    font-weight: 700;
}

.btn {
    background-color: hsl(154, 59%, 51%);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 4px hsl(154, 59%, 45%);
    color:hsl(0, 100%, 100%);
    font-weight: 600;
    padding: 1.3rem 1rem;
    text-transform: uppercase;
}

.advert_form {
    color: hsl(246, 25%, 77%);
    font-size: 12px;
}

.constrast_advert_form {
    color: hsl(0, 100%, 74%);
}